* {
    font-family: "UbuntuMono Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: #222222; /* Gruvbox background */
    color: #ffffff; /* Gruvbox foreground */
}

.modules-left {
    background-color: #222222; /* Gruvbox background */
    padding: 0px 0px 0px 0px;
}

.modules-right {
    background-color: #222222; /* Gruvbox background */
    padding: 0px 5px 0px 0px;
}

#custom-scratch {
    background-color: #222222; /* Gruvbox background */
    color: #b8bb26; /* Gruvbox yellow */
    padding: 0px 9px 0px 9px;
}

#workspaces {
}

#workspaces button {
    padding: 0px 11px 0px 11px;
    min-width: 1px;
    color: #ffffff; /* Gruvbox foreground */
    border-radius: 0px;
}

#workspaces button.active {
    padding: 0px 11px 0px 11px;
    background-color: #444444; /* Gruvbox dark grey */
    color: #ffffff; /* Gruvbox foreground */
    border-radius: 0px;
}

#mode {
    background-color: #cc241d; /* Gruvbox red */
    color: #ffffff; /* Gruvbox foreground */
    padding: 0px 5px 0px 5px;
    border: 1px solid #7c6f64; /* Gruvbox brown */
}

#window {
    color: #ffffff; /* Gruvbox foreground */
    background-color: #222222; /* Gruvbox background */
    padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}

window#waybar.empty {
    background-color: #222222; /* Gruvbox background */
}

#network, #temperature, #backlight, #pulseudio, #battery {
    padding: 0px 15px 0px 15px;
}

#clock {
    margin: 0px 15px 0px 15px;
}

#tray {
    padding: 0px 8px 0px 5px;
    margin: 0px 5px 0px 5px;
}

#battery.critical {
    color: #fb4934; /* Gruvbox red */
}

#network.disconnected {
    color: #fb4934; /* Gruvbox red */
}
